@use '../../../styles/mixins' as *;
@use '../../../styles/responsive' as bp;

.documentation {
  display: flex;
  justify-content: center;

  background-image: linear-gradient(120deg, var(--navy), var(--dark-navy));
  background-size: 100% 45%;
  background-position: bottom center;
  background-repeat: no-repeat;

  &__container {
    width: 80rem;
    text-align: center;
    padding: 10rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    @include bp.sm {
      gap: 2rem;
      padding: 8rem 1.5rem;
    }
  }

  &__heading {
    display: inline-block;
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    font-weight: 600;
    font-size: clamp(2.5rem, 5vw, 3rem);
    line-height: 1.1;

    @include text-heading();
  }

  &__desc {
    width: 80%;
    font-weight: 500;
    font-size: 100%;
    color: var(--slate);
    line-height: 1.6;

    @include bp.sm {
      width: 100%;
    }
  }

  &__link {
    &:link,
    &:visited {
      @include button($fontSize: 100%);
      background-position: center;
    }

    &:hover {
      background-position: left !important;
    }

    &:focus-visible {
      outline-color: #ec4899 !important;
    }
  }
}
