@use '../../styles/responsive' as bp;

.use-case-item {
  text-transform: initial;
  font-size: 100%;
  padding-left: 3rem;
  color: var(--lightest-slate);
  position: relative;
  transition: var(--transition);

  @include bp.sm {
    padding-left: 2rem;
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &:hover {
    transform: translateX(-7rem);

    @include bp.md {
      transform: none;
    }
  }

  &::before {
    content: '✓';
    position: absolute;
    left: 0;
    font-size: 100%;
    color: var(--pink);
    line-height: 1.2;
  }
}
