@use '../../styles/animation';
@use '../../styles/responsive' as bp;

.docs {
  &-nav {
    &__heading {
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 600;
      font-size: var(--fz-lg);
      line-height: 1.1;
      margin-bottom: 1.5rem;
    }

    &__list {
      list-style: none;

      display: flex;
      flex-direction: column;
      gap: 1.25rem;
    }

    &__item {
      line-height: 1.3;

      &--link {
        &:link,
        &:visited {
          text-transform: initial;
          font-weight: 500;
          font-size: var(--fz-sm);

          &.active {
            font-weight: 600;
            color: var(--blue);
          }
        }

        &:focus,
        &:focus-visible {
          outline: none;
        }

        &:hover,
        &:focus-visible {
          color: var(--blue);
        }

        &:disabled {
          opacity: 0.75;
          user-select: none;
          pointer-events: none;
        }
      }
    }
  }

  &-layout {
    display: flex;
    justify-content: center;
    padding: 10rem 0;

    @media (max-width: 81.25em) {
      flex-direction: column;
      align-items: center;
      padding: 6rem 0;
    }

    @include bp.sm {
      padding: 4rem 0;
    }
  }

  &-container {
    width: 100%;
    display: flex;
  }

  &-sidebar,
  &-content {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      inset: 0;

      background-image: radial-gradient(
        circle at 20% 30%,
        rgba(59, 130, 246, 0.065),
        transparent 60%
      );

      pointer-events: none;
    }
  }

  &-sidebar {
    width: 24rem;
    width: 30rem;
    padding: 2rem;
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: var(--navy);
    background-image: linear-gradient(120deg, var(--navy), var(--dark-navy));
    background-size: 60% 100%;
    background-position: left center;
    background-repeat: no-repeat;
    border: 1px solid var(--blue-tint);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);

    @media (max-width: 81.25em) {
      display: none;
      visibility: hidden;
      opacity: 0;
      z-index: -1;
    }

    &__heading {
      display: inline-block;
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 500;
      font-size: 1.87rem;
      line-height: 1.1;
      margin-bottom: 3rem;
    }

    &__nav {
      display: flex;
      flex-direction: column;
    }

    &__list {
      list-style: none;
    }

    &__item {
      width: 100%;

      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }

      &--link {
        &:link,
        &:visited {
          width: 100%;
          display: block;
          color: currentColor;
          transition: var(--transition);

          &.active {
            font-weight: 600;
            color: var(--blue);
          }
        }

        &:hover,
        &:focus-visible {
          color: var(--blue);
        }

        &:focus,
        &:focus-visible {
          outline: none;
        }
      }
    }
  }

  &-content {
    flex: 1;

    padding: 4rem;
    background-image: linear-gradient(120deg, var(--navy), var(--dark-navy));
    background-size: 100% 45%;
    background-position: bottom center;
    background-repeat: no-repeat;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    transition: opacity 0.2s ease;

    @media (max-width: 81.25em) {
      border-radius: var(--border-radius);
    }

    @media (max-width: 34.375em) {
      padding: 2rem;
    }

    @include bp.sm {
      padding: 0;
    }
  }

  &-section {
    margin-bottom: 6rem;

    &:focus {
      outline: none;
    }

    @include bp.sm {
      padding: 1.5rem;
      margin-bottom: 3rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: inline-block;
      text-transform: initial;
      text-rendering: optimizeLegibility;
      line-height: 1.1;
    }

    &__title {
      color: var(--lightest-slate);
      font-weight: 600;
      font-size: clamp(2.2rem, 5vw, 2.4rem);
      margin-bottom: 2rem;
    }

    h3 {
      font-weight: 500;
      font-size: clamp(1.8rem, 5vw, 1.87rem);
      color: var(--lightest-slate);
      margin-bottom: 1rem;
    }

    p,
    span {
      font-size: 100%;
      color: var(--slate);
    }

    pre {
      font-size: 1.5rem;
      font-size: 100%;
      color: var(--blue);
      line-height: 1.3;

      @include bp.sm {
        width: 30rem;
        padding: 1rem;
        overflow-x: auto;
      }
    }

    p,
    pre,
    span {
      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }
    }

    ul {
      list-style: none;

      li {
        position: relative;
        font-size: 100%;
        padding-left: 3rem;
        color: var(--slate);

        @include bp.sm {
          padding-left: 2rem;
        }

        &:not(:last-of-type) {
          margin-bottom: 2rem;
        }

        &::before {
          content: '✓';
          position: absolute;
          left: 0;
          font-size: 100%;
          color: var(--pink);
          line-height: 1.2;
        }

        strong {
          color: var(--light-slate);
        }
      }
    }
  }

  &-example {
    margin-top: 2rem;

    &__title {
      display: inline-block;
      text-transform: initial;
      text-rendering: optimizeLegibility;
      font-weight: 500;
      font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
      line-height: 1.1;
      margin-bottom: 1rem;
    }

    &__tabs {
      display: flex;
      align-items: center;
      gap: 1rem;

      margin-bottom: 2rem;

      &--btn {
        display: inline-block;
        font-size: var(--fz-xxs);
        padding: 0.5rem;
        background-color: transparent;
        color: var(--white);
        border: 1px solid #334155;
        border-radius: var(--border-radius);
        cursor: pointer;
        transition: var(--transition);
        position: relative;

        &.active {
          background-color: #1e293b;
        }

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          padding: 2px;

          background-image: linear-gradient(
            90deg,
            #6366f1,
            #8b5cf6,
            #ec4899,
            #f59e0b,
            #6366f1
          );
          background-size: 300% 300%;
          border-radius: inherit;
          opacity: 0;
          animation: gradientMove 5s linear infinite;

          -webkit-mask:
            linear-gradient(#000 0 0) content-box,
            linear-gradient(#000 0 0);
          mask:
            linear-gradient(#000 0 0) content-box,
            linear-gradient(#000 0 0);
          -webkit-mask-composite: xor;
          mask-composite: exclude;
          pointer-events: none;
        }

        &:focus,
        &:focus-visible {
          outline: none;
        }

        &:focus-visible {
          border: 1px solid transparent;
        }

        &:focus-visible::before {
          opacity: 1;
        }
      }
    }

    &__preview {
      padding: 2rem;
      background-color: var(--navy);
      border: 1px solid #1e293b;
      border-radius: 1rem;
      animation: modalIn 0.2s ease;

      .button {
        font-size: var(--fz-xs);
      }
    }
  }
}
