@use '../../styles/animation';
@use '../../styles/responsive' as bp;

.docs {
  &-layout {
    display: flex;
    justify-content: center;
    padding: 12rem 0 10rem;
    background-color: var(--navy);
    background-image: linear-gradient(90deg, var(--navy), var(--dark-navy));
    background-size: 50% 50%;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

    @include bp.sm {
      padding: 8rem 0;
    }
  }

  &-container {
    width: 110rem;
    display: flex;
  }

  &-sidebar {
    width: 24rem;
    width: 30rem;
    padding: 2rem;
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: var(--navy);
    background-image: linear-gradient(90deg, var(--navy), var(--dark-navy));
    background-size: 25% 25%;
    border: 1px solid #1e293b;
    border-radius: 1rem;

    h3 {
      display: inline-block;
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      line-height: 1.1;
      margin-bottom: 3rem;
    }

    nav {
      display: flex;
      flex-direction: column;

      ul {
        list-style: none;

        li {
          width: 100%;

          &:not(:last-of-type) {
            margin-bottom: 2rem;
          }

          a {
            &:link,
            &:visited {
              width: 100%;
              display: block;
              color: currentColor;
              transition: var(--transition);
            }

            &.active {
              font-weight: 600;
              background-image: linear-gradient(
                360deg,
                var(--pink),
                var(--blue)
              );
              color: transparent;
              -webkit-background-clip: text;
              background-clip: text;
            }

            &:hover {
              font-weight: 700;
            }
          }
        }
      }
    }
  }

  &-content {
    flex: 1;

    padding: 4rem;
    max-width: 90rem;
    background-image: linear-gradient(270deg, var(--navy), var(--dark-navy));
    background-size: 50% 50%;
    transition: opacity 0.2s ease;

    @include bp.sm {
      padding: 0;
    }
  }

  &-section {
    margin-bottom: 6rem;

    @include bp.sm {
      padding: 1.5rem;
      margin-bottom: 3rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: inline-block;
      text-transform: initial;
      text-rendering: optimizeLegibility;
      line-height: 1.1;
    }

    &__title {
      color: var(--lightest-slate);
      font-weight: 600;
      font-size: clamp(2.2rem, 5vw, 2.4rem);
      margin-bottom: 2rem;
    }

    h3 {
      font-weight: 500;
      font-size: clamp(1.8rem, 5vw, 1.87rem);
      color: var(--lightest-slate);
      margin-bottom: 1rem;
    }

    p,
    span {
      font-size: 100%;
      color: var(--slate);
    }

    pre {
      font-size: 1.5rem;
      font-size: 100%;
      color: var(--blue);
    }

    p,
    pre,
    span {
      line-height: 1.3;

      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }
    }

    ul {
      list-style: none;

      li {
        position: relative;
        font-size: 100%;
        padding-left: 3rem;
        color: var(--slate);
        line-height: 1.3;

        @include bp.sm {
          padding-left: 2rem;
        }

        &:not(:last-of-type) {
          margin-bottom: 1rem;
        }

        &::before {
          content: '▹';
          position: absolute;
          left: 0;
          font-size: 100%;
          color: var(--pink);
          line-height: 1.2;
        }

        strong {
          color: var(--light-slate);
        }
      }
    }
  }

  &-example {
    margin-top: 2rem;

    &__title {
      display: inline-block;
      text-transform: initial;
      text-rendering: optimizeLegibility;
      font-weight: 500;
      font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
      line-height: 1.1;
      margin-bottom: 1rem;
    }

    &__tabs {
      display: flex;
      align-items: center;
      gap: 1rem;

      margin-bottom: 2rem;

      &--btn {
        display: inline-block;
        font-size: var(--fz-xxs);
        padding: 0.5rem;
        background-color: transparent;
        color: var(--white);
        border: 1px solid #334155;
        border-radius: var(--border-radius);
        cursor: pointer;
        transition: var(--transition);
        position: relative;

        &.active {
          background-color: #1e293b;
        }

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          padding: 2px;

          background-image: linear-gradient(
            90deg,
            #6366f1,
            #8b5cf6,
            #ec4899,
            #f59e0b,
            #6366f1
          );
          background-size: 300% 300%;
          border-radius: inherit;
          opacity: 0;
          animation: gradientMove 5s linear infinite;

          -webkit-mask:
            linear-gradient(#000 0 0) content-box,
            linear-gradient(#000 0 0);
          mask:
            linear-gradient(#000 0 0) content-box,
            linear-gradient(#000 0 0);
          -webkit-mask-composite: xor;
          mask-composite: exclude;
          pointer-events: none;
        }

        &:focus,
        &:focus-visible {
          outline: none;
        }

        &:focus-visible {
          border: 1px solid transparent;
        }

        &:focus-visible::before {
          opacity: 1;
        }
      }
    }

    &__preview {
      padding: 2rem;
      background-color: var(--navy);
      border: 1px solid #1e293b;
      border-radius: 1rem;
      animation: modalIn 0.2s ease;

      .button {
        font-size: var(--fz-xs);
      }
    }

    &__code {
      border-radius: 1rem;
      background-image: linear-gradient(270deg, var(--navy), var(--dark-navy));
      background-size: 100% 100%;
      background-repeat: no-repeat;
      overflow: hidden;
      animation: fadeIn 0.2s ease;
    }

    &__file-tabs {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      padding: 1rem 0.5rem;
      border-bottom: 1px solid var(--green-tint);

      button {
        display: inline-block;
        text-transform: initial;
        font-size: var(--fz-xxs);
        padding: 3px 0.6rem;
        background-color: transparent;
        color: var(--light-green);
        border: 1px solid transparent;
        border-radius: var(--border-radius);
        cursor: pointer;
        position: relative;
        transition: var(--transition);

        &.active {
          background-color: var(--green-tint);
          border-color: var(--green-tint);
        }

        &:focus,
        &:focus-visible {
          outline: none;
        }

        &:focus-visible {
          border: none;
        }

        &:disabled {
          opacity: 0.75;
          user-select: none;
          pointer-events: none;
        }

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          padding: 2px;

          background-image: linear-gradient(
            90deg,
            #6366f1,
            #8b5cf6,
            #ec4899,
            #f59e0b,
            #6366f1
          );
          background-size: 300% 300%;
          border-radius: inherit;
          opacity: 0;
          animation: gradientMove 5s linear infinite;

          -webkit-mask:
            linear-gradient(#000 0 0) content-box,
            linear-gradient(#000 0 0);
          mask:
            linear-gradient(#000 0 0) content-box,
            linear-gradient(#000 0 0);
          -webkit-mask-composite: xor;
          mask-composite: exclude;
          pointer-events: none;
        }

        &:focus-visible::before {
          opacity: 1;
        }
      }
    }
  }
}
