@use '../../styles/mixins' as *;
@use '../../styles/responsive' as bp;

.hero {
  display: flex;
  justify-content: center;

  width: 100%;
  height: calc(100vh - var(--nav-height));
  background-image: linear-gradient(120deg, var(--navy), var(--dark-navy));
  background-size: 50% 50%;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);

  &__container {
    width: 115rem;
    height: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__heading {
    display: inline-block;
    width: 70%;
    text-transform: initial;
    text-rendering: optimizeLegibility;
    font-weight: 700;
    font-size: clamp(2.8rem, 5vw, var(--fz-heading));
    margin-bottom: 4rem;
    line-height: 1.1;

    @include text-heading();

    @include bp.sm {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__wrapper {
    width: 60%;
    text-align: center;

    @include bp.sm {
      width: 100%;
    }

    &--desc,
    &--subdesc {
      line-height: 1.6;
    }

    &--desc {
      font-weight: 500;
      font-size: 100%;
      margin-bottom: 1rem;

      a {
        &:link,
        &:visited {
          font-style: italic;
          backface-visibility: hidden;
        }

        &:hover {
          @include text-heading();
        }

        @include animated-underline($bottom: 3px);
      }
    }

    &--subdesc {
      font-size: var(--fz-sm);
      color: var(--slate);
    }
  }

  &__btn {
    margin-top: 4rem;
    @include button($y: -0.7rem);

    @include bp.sm {
      margin-top: 2rem;
    }
  }
}
