@use '../../styles/mixins' as *;

.use-cases {
  display: flex;
  justify-content: center;

  &__container {
    width: 80rem;
    padding: 10rem 0;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    display: inline-block;
    text-transform: initial;
    text-rendering: optimizeLegibility;
    font-weight: 600;
    font-size: clamp(2.5rem, 5vw, 3rem);
    line-height: 1.1;
    margin-bottom: 4rem;

    @include text-heading();
  }

  &__desc {
    width: 70%;
    font-weight: 500;
    font-size: 100%;
    line-height: 1.6;
    margin-bottom: 4rem;
  }

  &__list {
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
