@use '../../styles/mixins' as *;
@use '../../styles/animation';
@use '../../styles/responsive' as bp;

.popup {
  position: fixed;
  inset: 0;
  z-index: 5000;

  &[data-state='open'] {
    .popup__overlay {
      opacity: 1;
    }
  }

  &[data-state='closed'] {
    .popup__overlay {
      opacity: 0;
    }
  }

  &[data-variant='modal'] {
    .popup__overlay {
      align-items: center;
      justify-content: center;
    }

    .popup__container {
      transform: scale(0.95) translateY(1rem);
      opacity: 0;

      transition:
        transform 300ms ease,
        opacity 300ms ease;
    }

    &[data-state='open'] {
      .popup__container {
        transform: scale(1) translateY(0);
        opacity: 1;
      }
    }

    &[data-state='closed'] {
      .popup__container {
        transform: scale(0.95) translateY(1rem);
        opacity: 0;
      }
    }

    .popup__wrapper {
      --x: 50%;
      --y: 50%;

      width: 50rem;
      max-width: 90%;
      margin: 0 auto;
      padding: 2rem;
      background-color: var(--dark-navy);
      box-shadow: 0 1rem 3rem -1rem var(--navy-shadow);
      border-radius: 1rem;
      position: relative;
      z-index: 1000;
      overflow: hidden;
      transition: var(--transition);

      @media only screen and (max-width: 56.25em) {
        width: 53rem;
      }

      @media only screen and (max-width: 51.25em) {
        width: 55rem;
      }

      @media only screen and (max-width: 34.375em) {
        width: 50rem;
      }

      @include bp.sm {
        width: 48rem;
      }

      @media only screen and (max-width: 28.125em) {
        width: 45rem;
      }

      @media only screen and (max-width: 26.875em) {
        width: 43rem;
      }

      @media only screen and (max-width: 25em) {
        width: 40rem;
      }

      @media only screen and (max-width: 24.375em) {
        width: 39rem;
      }

      @media only screen and (max-width: 23.75em) {
        width: 38rem;
      }

      @media only screen and (max-width: 23.4375em) {
        width: 37.5rem;
      }

      @media only screen and (max-width: 22.5em) {
        width: 36rem;
      }

      @media only screen and (max-width: 21.5em) {
        width: 34rem;
      }

      @media only screen and (max-width: 20em) {
        width: 32rem;
      }

      @media only screen and (max-width: 18.75em) {
        width: 30rem;
      }

      @media only screen and (max-width: 18.125em) {
        width: 29rem;
      }

      @media only screen and (max-width: 17.5em) {
        width: 28rem;
        padding: 0.8rem;
      }

      @media only screen and (max-width: 16.875em) {
        width: 31rem;
      }

      @media only screen and (max-width: 16.25em) {
        width: 30rem;
      }

      @media screen and (min-width: 106.25em) {
        width: 55rem;
        padding: 3.5rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 60rem;
        padding: 4rem;
      }

      @media screen and (min-width: 125em) {
        width: 65rem;
        padding: 4.5rem;
      }

      &:hover {
        transform: translateY(-3px);
      }

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        padding: 2px;
        border-radius: inherit;

        // background-image: linear-gradient(
        //   270deg,
        //   #6366f1,
        //   #8b5cf6,
        //   #ec4899,
        //   #f59e0b,
        //   #6366f1
        // );
        // background-size: 300% 300%;

        background-image: radial-gradient(
          circle at var(--x) var(--y),
          #6366f1,
          #8b5cf6,
          #ec4899,
          #f59e0b,
          #6366f1,
          transparent 60%
        );
        will-change: background-image;

        opacity: 0;
        transition: opacity 0.3s ease;

        -webkit-mask:
          linear-gradient(#000 0 0) content-box,
          linear-gradient(#000 0 0);
        mask:
          linear-gradient(#000 0 0) content-box,
          linear-gradient(#000 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;

        animation: gradientMove 8s linear infinite;
      }

      &:hover::before,
      &:focus-within::before {
        opacity: 1;
      }
    }
  }

  &[data-variant='drawer-right'] {
    .popup__overlay {
      align-items: stretch;
      justify-content: flex-end;
    }

    .popup__container {
      transform: translateX(100%);
      transition: transform 300ms ease;
    }

    &[data-state='open'] {
      .popup__container {
        transform: translateX(0);
      }
    }

    &[data-state='closed'] {
      .popup__container {
        transform: translateX(100%);
      }
    }

    .popup__wrapper {
      width: 32rem;
      height: 100%;
      padding: 2rem 3rem;
    }
  }

  &[data-variant='drawer-left'] {
    .popup__overlay {
      align-items: stretch;
      justify-content: flex-start;
    }

    .popup__container {
      transform: translateX(-100%);
      transition: transform 300ms ease;
    }

    &[data-state='open'] {
      .popup__container {
        transform: translateX(0);
      }
    }

    &[data-state='closed'] {
      .popup__container {
        transform: translateX(-100%);
      }
    }

    .popup__wrapper {
      width: 32rem;
      height: 100%;
      padding: 2rem 3rem;
    }
  }

  &__overlay {
    width: 100%;
    height: 100%;
    background-color: var(--overlay);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    opacity: 0;
    transition: opacity 300ms ease;

    display: flex;
  }

  &__container {
    transition:
      transform 300ms ease,
      opacity 300ms ease;
  }

  &__wrapper {
    position: relative;
    background-color: var(--dark-navy);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 2rem;
  }

  &__title {
    display: inline-block;
    text-transform: initial;
    text-rendering: optimizeLegibility;
    font-weight: 500;
    font-size: 3rem;
    color: currentColor;
    line-height: 1.1;
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background-color: transparent;
    color: var(--white);
    cursor: pointer;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      padding: 2px;
      background-image: linear-gradient(
        90deg,
        #6366f1,
        #8b5cf6,
        #ec4899,
        #f59e0b,
        #6366f1
      );
      background-size: 300% 300%;
      border-radius: var(--border-radius);
      will-change: background-image;
      animation: gradientMove 5s linear infinite;
      opacity: 0;

      -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
      mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:focus-visible::before {
      opacity: 1;
    }

    &:disabled {
      opacity: 0.75;
      user-select: none;
      pointer-events: none;
    }

    svg {
      width: 3rem;
      height: 3rem;
      color: var(--white);
    }
  }

  &__description {
    color: var(--slate);
    margin-top: 0.5rem;
  }

  &__body {
    margin-top: 1rem;
  }

  &__footer {
    margin-top: 1.5rem;
    // padding-top: 1.5rem;
    // border-top: 1px solid var(--slate);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.75rem;
  }

  &__trigger {
    margin-top: 4rem;
    @include button($y: -0.7rem);

    // &::before {
    // content: '';
    // position: absolute;
    // inset: 0;
    // inset: -2px;
    // padding: 3px;
    // border-radius: inherit;
    // background: conic-gradient(
    //   from 0deg,
    //   #6366f1,
    //   #8b5cf6,
    //   #ec4899,
    //   #f59e0b,
    //   #6366f1
    // );
    // animation: rotateBorder 5s linear infinite;

    // -webkit-mask:
    //   linear-gradient(#000 0 0) content-box,
    //   linear-gradient(#000 0 0);
    // mask:
    //   linear-gradient(#000 0 0) content-box,
    //   linear-gradient(#000 0 0);
    // -webkit-mask-composite: xor;
    // mask-composite: exclude;
    // pointer-events: none;
    // }
  }
}
