@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0.8rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradientMove {
  from {
    background-position: 0%;
  }

  to {
    background-position: 300%;
  }
}

@keyframes rotateBorder {
  to {
    transform: rotate(360deg);
  }
}
