.markdown-preview {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 2rem;
  transition: var(--transition);

  .copy-button {
    display: none;
  }

  &:hover {
    .copy-button {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .file-label {
      display: none;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 3.25rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 2rem;
    background-color: #011627;
    border-radius: 1rem;
  }

  h1 {
    margin-bottom: 1rem;
  }

  h2,
  h3 {
    margin-bottom: 0.5rem;
  }

  h2,
  h3 {
    font-weight: 400;
  }

  h1 {
    font-weight: 500;
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  p {
    font-size: var(--fz-sm) !important;
    margin-bottom: 0.75rem;
    line-height: 1.3;

    &:not(:last-of-type) {
      margin-bottom: 0.5rem !important;
    }
  }

  ul {
    padding-left: 1.2rem;
    margin-bottom: 1rem;

    li {
      padding-left: 1.5rem !important;
      font-size: var(--fz-sm) !important;
      margin-bottom: 1rem !important;

      &::before {
        content: '◦' !important;
        position: absolute;
        left: 0;
        font-size: 100%;
        color: var(--slate) !important;
        line-height: 1.2;
      }
    }
  }

  code {
    font-size: 0.85rem;
    padding: 2px 0.6rem;
    background-color: #042036;
    border-radius: var(--border-radius);
  }
}
