@use '../../styles/responsive' as bp;

.code-block {
  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow: auto;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--blue-tint);
    outline-offset: 3px;
    border-radius: 1rem;
  }

  &__container {
    white-space: pre;

    pre {
      @include bp.sm {
        width: 35rem;
        overflow-x: auto;
      }

      &:focus {
        outline: none;
      }

      &:focus-visible {
        outline: 2px solid var(--blue-tint);
        outline-offset: 3px;
      }
    }
  }
}
